<?xml version="1.0" encoding="utf-8"?>
<PluginDescriptor>
	<JavaPlugin>
		<interfaceClass>org.bimserver.plugins.services.ServicePlugin</interfaceClass>
		<implementationClass>com.buildinnov.smartevac.plugin.service.SmarEvacEventLogServicePlugin</implementationClass>
		<description>SmarEvacEventLogServiceService</description>
		<name>SmarEvacEventLog</name>
	</JavaPlugin>


	<JavaPlugin>
		<interfaceClass>org.bimserver.plugins.services.ServicePlugin</interfaceClass>
		<implementationClass>com.buildinnov.smartevac.plugin.evacplans_generation.services.EvacuationPlanGenerator</implementationClass>
		<description>EvacuationPlanGenerator</description>
		<name>EvacuationPlanGenerator</name>
	</JavaPlugin>



</PluginDescriptor>
